<!DOCTYPE html  >
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.0.0"></script>
</head>
<div id="app">
    <div id='map'></div>
    <div id="data">
        <v-flex>
            <v-text-field
                    placeholder=" Sur quelle sujet voulez vous avoir des informations"
                    v-model="input"
            ></v-text-field>
        </v-flex>
        <v-layout>
            <v-layout>
            <v-flex xs12 sm4 md4>
                <v-radio-group v-model="radios" row :mandatory="false">
                    <v-radio label="Recent"  color="primary" value="recent"></v-radio>
                    <v-radio label="Popular"  color="warning"  value="popular"></v-radio>
                    <v-radio label="Mixed"  color="warning"  value="mixed"></v-radio>
                    <v-radio label="Stream"  color="warning" value="stream" disabled    @click="getStream"></v-radio>
                </v-radio-group>
            </v-flex>
                <v-flex md2>
                    <v-text-field
                        placeholder="Nombre de tweet"
                        type="number"
                        :rules="rules"
                        v-model="count">
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-layout>
        <v-btn :disabled="count < 0 || count > 100" @click="submit">submit</v-btn>
        <table id="customers">
            <tr>
                <td v-for="header in headers">{{ header }}</td>
            </tr>
            <tr>
                <td v-for="dessert in desserts"> {{ dessert.value }}</td>
            </tr>
        </table>
        <div v-if="info_tweets.length !== 0">
            <ul>
                <li v-for="item in info_tweets">
                    <v-avatar>
                        <img :src="item.url_image" alt="avatar">
                    </v-avatar>
                </li>
            </ul>
        </div>

    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            info_tweets: [],
            input: '',
            map: null,
            id: 0,
            isok:false,
            rules: [v => (parseInt(v) <= 100 && parseInt(v) >= 0) || 'au maximum 100 tweet'],
            radios: 'recent',
            count: 10,
            headers: [
            ],
            desserts: [],
        },

        mounted(){
            this.map = this.intializeMap();
        },
        methods: {
            build_tweet(tweets){
                const info_filter = [];
                tweets.forEach(tweet => {
                    console.log(tweet);
                    if(tweet.user.location.substr(0,5).toUpperCase() === 'PARIS'){
                        tweet.user.location = 'Paris'
                    }
                    const tweetObject =  {user_geo:tweet.user.location,lang:[], text: [], user: [], url_image: [], user_id: [], name: [] };

                    const line = info_filter.find(info => info.user_geo === tweetObject.user_geo);
                    if( line === undefined) {
                        tweetObject.text.push(tweet.text);
                        tweetObject.user.push(tweet.user);
                        tweetObject.lang.push(tweet.metadata.iso_language_code);
                        tweetObject.url_image.push(tweet.user.profile_image_url);
                        tweetObject.user_id.push(tweet.user.id);
                        tweetObject.name.push(tweet.user.name);
                        if (tweetObject.user_geo !== '' && tweetObject.user_geo.toUpperCase() !== 'FRANCE') {
                            info_filter.push(tweetObject);
                        }
                    }
                    else{
                        line.text.push(tweet.text);
                        line.user.push(tweet.user);
                        line.lang.push(tweet.metadata.iso_language_code);
                        line.url_image.push(tweet.user.profile_image_url);
                        line.user_id.push(tweet.user.id);
                        line.name.push(tweet.user.name);
                    }
                });
                return info_filter
            },
            async submit(){
                const filter = this.radios;
                const count = this.count;
                let value = this.input + '|' + filter + '|' + count;
                this.map = this.intializeMap();
                if(count){
                    value += '|' + count;
                }
                console.log(value);
                const tweets_infos = await axios.get(`http://localhost:8999/api/tweets/ + ${value}`);
                const tweets = tweets_infos.data.statuses;
                const info_filter = this.build_tweet(tweets);
                info_filter.forEach(
                    async info =>  this.addMaker(info, this.map)
                );
                this.isok = true;

            },
            async getStream(){
                this.radios= 'stream';
                const value = this.input;
                console.log(value);
                const map = this.intializeMap();
                axios({
                    method:'get',
                    url:`http://localhost:8999/api/realtime/${value}`,
                    responseType:'stream'
                }).then(async tweet_info => {
                   console.log(tweet_info.data);
                   const tweet = tweet_info.data;
                    console.log(tweet.user.user_geo);
                    let user_geo  = tweet.user.location;
                    if(user_geo ===  null){
                        user_geo = 'Paris';
                    }
                   const info = {text : tweet.text, user: tweet.user,lang: tweet.user.lang, url_image: tweet.user.profile_image_url, user_id: tweet.user.id, name: tweet.user.name, user_geo: user_geo };
                   const phrase = `<img src="${info.url_image}" alt="image"> <br> <h3 style="width: 300px">"${info.text}"</h3> <h5>${info.name}</h5><br><br>`;
                   const value = info.text.replace(/\n|\r/g,'').replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,' ');
                   const tone_info = ({value: value, lang : info.lang, id: String(info.id) });
                   const frag_info = tone_info.value.split(' ');
                   frag_info.pop();
                   const new_value = frag_info.join(' ');
                   const lang = tone_info.lang;
                   const response = await axios.get(`http://localhost:8999/emotion/${new_value}|${lang}`);
                   console.log(response);
                   if(response.data.length !== 0 && response.data && response.data.code !== 400) {
                       const tone = (response.data.document_tone.tones);
                       if (tone.length !== 0) {
                           const t = tone[0].tone_name;
                           if(!this.headers.includes(t)){
                               this.headers.push(t);
                               this.desserts.push({name: t, id: [], value:1});
                           }
                           else {
                               const line = this.desserts.find(dessert => t === dessert.name);
                               line.value++
                           }
                       }

                   }
                   var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
                   mapboxClient.geocoding.forwardGeocode({
                       query: info.user_geo,
                       autocomplete: false,
                       limit: 1
                   })
                       .send()
                       .then(function (response) {
                           if (response && response.body && response.body.features && response.body.features.length) {
                               var popup = new mapboxgl.Popup({offset: 25})
                                   .setHTML(phrase);
                               var feature = response.body.features[0];
                               var geojson = {
                                   "type": "FeatureCollection",
                                   "features": [
                                       {
                                           "type": "Feature",
                                           "properties": {
                                               "message": "Foo",
                                               "iconSize": [60, 60],
                                               "image_url": info.url_image
                                           }
                                       }
                                   ]
                               };

                               // add markers to map
                               geojson.features.forEach(function (marker) {
// create a DOM element for the marker
                                   var el = document.createElement('div');
                                   el.className = 'marker';
                                   el.style.backgroundImage = `url(${marker.properties.image_url})`;
                                   el.style.width = marker.properties.iconSize[0] + 'px';
                                   el.style.height = marker.properties.iconSize[1] + 'px';


// add marker to map

                                   new mapboxgl.Marker(el)
                                       .setLngLat(feature.center)
                                       .setPopup(popup)
                                       .addTo(map);
                               });
                           }
                       });
               });

            },
            intializeMap(){
                mapboxgl.accessToken = 'pk.eyJ1Ijoicm9iaW5rbDMiLCJhIjoiY2pxNnAzejlzMmE2dTQ4dGRwYm5vOHMwZCJ9.aqh5xMPaJJvopSd5hEeNJw';
                const map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/dark-v9', // stylesheet location
                    center: [-1.677925, 48.117668,], // starting position [lng, lat]
                    zoom: 3 // starting zoom
                });
                map.addControl(new mapboxgl.NavigationControl());
                return map
            },
            async addMaker(info, map) {
                info.id = this.id++;
                const destination = info.user_geo;
                let phrase = '';
                let i = 0;
                const array = [];
                for ( i in info.url_image){
                    if(i <5){
                        const value = info.text[i].replace(/\n|\r/g,'').replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,' ');
                        array.push({value: value, lang : info.lang, id: String(info.id) + String(i) });
                        phrase = phrase.concat(`<img src="${info.url_image[i]}" alt="image"> <br> <h3 style="width: 300px">"${info.text[i]}"</h3> <h5>${info.name[i]}</h5><br><br> `);
                    }
                    i++
                }
                let tones = [];
                array.forEach(async info => {
                    const frag_info = info.value.split(' ');
                    frag_info.pop();
                    const value = frag_info.join(' ');
                    const lang = info.lang;
                    const response = await axios.get(`http://localhost:8999/emotion/${value}|${lang}`);
                    if(response.data.length !== 0 && response.data && response.data.code !== 400) {
                        const tone = (response.data.document_tone.tones);
                        if (tone.length !== 0) {
                            const t = tone[0].tone_name;
                            if(!this.headers.includes(t)){
                                this.headers.push(t);
                                this.desserts.push({name: t, id: [], value:1})
                            }
                            else {
                                const line = this.desserts.find(dessert => t === dessert.name);
                                line.value++
                            }
                            /*console.log(tone);
                            if (t === "Anger") {
                                this.desserts[3].angry.value++
                            } else if (t === "Sadness") {
                                this.desserts[1].sad.value++
                            } else if (t === "Joy") {
                                this.desserts[0].joy.value++
                            } else {
                                this.desserts[2].neutre.value++
                            }*/
                        }
                        (tone.length !== 0) ? tones.push(String(tone[0].tone_name)) : tones.push('neutre')
                    }
                });
                tones = await tones;
                const emotions = [];
                if(tones.length !== 0){
                    tones.forEach(tone =>{
                        const line  = emotions.find(emotion => emotion === tone.tone_name);
                        (line === undefined) ? emotions.push({name : tone.tone_name, value: 1}) : line.value++
                    });
                }

                if(i>5){
                    phrase = phrase.concat(`<br> <h7>afficher les autres ${i - 6} autres tweet en provenance de ${destination} </h7>`);
                }
                var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
                mapboxClient.geocoding.forwardGeocode({
                    query: destination,
                    autocomplete: false,
                    limit: 1
                })
                    .send()
                    .then(function (response) {
                        if (response && response.body && response.body.features && response.body.features.length) {
                            var popup = new mapboxgl.Popup({offset: 25})
                                .setHTML(phrase);
                            var feature = response.body.features[0];
                            var geojson = {
                                "type": "FeatureCollection",
                                "features": [
                                    {
                                        "type": "Feature",
                                        "properties": {
                                            "message": "Foo",
                                            "iconSize": [60, 60],
                                            "image_url": info.url_image[0]
                                        },
                                        "geometry": {
                                            "type": "Point",
                                            "coordinates": [
                                                -66.324462890625,
                                                -16.024695711685304
                                            ]
                                        }
                                    }
                                ]
                            };

                            // add markers to map
                            geojson.features.forEach(function (marker) {
// create a DOM element for the marker
                                var el = document.createElement('div');
                                el.className = 'marker';
                                el.style.backgroundImage = `url(${marker.properties.image_url})`;
                                el.style.width = marker.properties.iconSize[0] + 'px';
                                el.style.height = marker.properties.iconSize[1] + 'px';


// add marker to map

                                new mapboxgl.Marker(el)
                                    .setLngLat(feature.center)
                                    .setPopup(popup)
                                    .addTo(map);
                            });
                        }
                    });
                return tones
            }
        }
    });


</script>
<style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:283px; width:100%; z-index: 0 }
    #data {position: absolute;  bottom: 0; width:100%}
    .marker {
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
</html>